.blocks-single-author {
	&.alignright, &.alignleft {
		max-width: 50%;
	}
	&.withBio {
		text-align: left;
	}
	&.noBio {
		text-align: center;
	}
	p:after {
			content: "";
			clear: both;
			display: block;
	}
}
